params {
    run_variants           = true
    variant_callers        = 'haplotypecaller,freebayes,bcftools'
    skip_bqsr              = true
    variants_in_peaks_only = true
    peak_filter_slop       = 500
    skip_variant_annotation = true
    run_oncoplot           = false
    macs_gsize             = 10000
}
